
@import "foundation/_mixin";

// todo user_name/emialここまとめてリファクタできる？

.user_name_group{
    display: flex;
}

.user_email_group{
    display: flex;
}

.user_name{
    text-decoration: none;
    padding-left: 20px;
}

.user_email{
    padding-left: 20px;
}

.user_list{
    padding: 10px;

    .user_id{
        @include sp{
            background-color: red;
        }
    }
}
